# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Data we generate (keep raw CNF, ignore processed parquet)
data/processed/
*.parquet

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Streamlit
.streamlit/secrets.toml
